{% extends "editor/base.html" %}
{% block content %}


<div class="media content-section">


    <img class = "rounded" src = "{{ object.author.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata">

            {% if user.is_authenticated %}
            <div>
                <a class = "btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'document-update' object.id %}"> Update</a>
            </div>
            {% endif %}

            {% if object.author == user %}
            <div>
                <a class = "btn btn-danger btn-sm mt-1 mb-1" href="#"> Delete</a>
            </div>
            {% endif %}
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h2 class="article-title" >{{ object.title }}</h2>
        Published by <a class="mr-2" href="{% url 'user-documents' object.author.username %}">{{ object.author }}</a>
        on <span color="#ccf1f1"> <small class="text-muted">{{ object.date_posted |date:"F d, Y"}}</small> </span>


        {% if object.last_change_details %}
        <div id ="132" style="position: center; color: #ff1111; padding-left:1000px">
            last changes were made by {{ object.last_change_details|safe|truncatewords:"10" }}
        </div>
        {% endif %}
        <div>
            Not visible properly? try
            <input type="button" onclick="ChangeColor()" value="Button" id="btn1" />
        </div>

        <br> <div style= "color:#2ef5d7;">  </div>
        <p class="content">
            <br>{{ object.content|safe|linebreaks }}
        </p>
        <br>
        <div style= "color:#11ffdb;">
            ___________________________________________________________________________________________________________
        </div>
    </div>

</div>

{% endblock content %}


