{% extends "editor/base.html" %}
{% block content %}

<div class="media content-section">




    <img class = "rounded-circle article-img" src = "{{ object.author.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted |date:"F d, Y"}}</small>

            {% if user.is_authenticated %}
            <div>
                <a class = "btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'document-update' object.id %}"> Update</a>
            </div>
            {% endif %}

            {% if object.author == user %}
            <div>
                <a class = "btn btn-danger btn-sm mt-1 mb-1" href="#"> Delete</a>
            </div>
            {% endif %}
        </div>

        <h2 class="article-title" href="#">{{ object.title }}</h2>
        <br> <div style= "color:#2ef5d7;"> __________________________________________________________________ </div>
        <p class="content">
            <br>{{ object.content|safe|linebreaks }}
        </p>
        <br> <div style= "color:#11ffdb;"> __________________________________________________________________ </div>
    </div>
        {% if object.last_change_details %}
                <div style="position: fixed; color: #ffff11">
                    last changes made by:<br>
                    {{ object.last_change_details|safe|linebreaks }}

                </div>
        {% endif %}
</div>

{% endblock content %}


